* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
}
.container {
  background-color: white;
  max-width: 1200px;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      'header header'
      'nav nav'
      'main aside'
      'footer footer';
    margin: 0 auto;
    header {
      grid-area: header;
    }
    nav {
      grid-area: nav;
    }
    main {
      grid-area: main;
    }
    aside {
      grid-area: aside;
    }
    footer {
      grid-area: footer;
    }
  }
}

main,
aside {
  h1,
  h2,
  h3,
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
h1 {
  color: white;
}
aside {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}
aside div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  gap: 1vh;
  @media (min-width: 1024px) {
    font-size: 4rem;
    column-count: 2;
    flex-wrap: wrap;
  }
}
header {
  background-color: orange;
  display: flex;
  justify-content: left;
  padding: 1vh;
  gap: 1.5vh;
}
.logo {
  background-color: white;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 0.5vh 1vh;
}
.logo::before {
  content: 'Logo';
}
nav {
  background-color: CornflowerBlue;
  display: flex;
  justify-content: center;
  padding: 1vh 0;
  padding: 1vh;
  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
}
nav > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}
footer {
  background-color: green;
  text-align: center;
  color: white;
  padding: 1vh;
}
