* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
}

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title title title'
    'todo progress done';
  padding: 1em;
  row-gap: 1em;
  column-gap: 1em;
  width: min(calc(900px + 6em), 100%);
  background-color: white;
  overflow: hidden;
}

h1 {
  grid-area: title;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.collumn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 0;
  min-height: 0;
  max-height: 100%;
}

.collumn > .cards {
  display: block;
  flex: 1 auto;
  min-height: 0;
  padding: 0.5em 0 0.5em 0.5em;
  background-color: aliceblue;
  overflow-y: scroll;
  scrollbar-width: none;
}

.collumn > .header {
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 0.5em;

  h2,
  h3,
  .menu {
    margin: 0.4em;
  }
}

.header > .menu {
  display: flex;
  justify-content: space-evenly;
}

#todo > .header {
  background-color: #ff9999;
}

#todo > .cards > .card > .card-footer > .left {
  visibility: hidden;
  pointer-events: none;
}

#progress > .header {
  background-color: #99ff99;
}

#done > .header {
  background-color: #9999ff;
}

#done > .cards > .card > .card-footer > .right {
  visibility: hidden;
  pointer-events: none;
}

.card {
  display: inline-block;
  width: calc(100% - 2em);
  margin: 1em;
  padding: 0.5em;
  padding-bottom: 0.1em;
  overflow: hidden;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.25em;
}

.card-title {
  margin-bottom: 0.3em;
  font-weight: bolder;
  text-decoration: none;
  padding-right: 1.6rem;
}

.card-x {
  cursor: pointer;
  position: absolute;
  padding: 0.2em;
  right: 0.2rem;
  top: 0rem;
}

.card-text {
  margin-bottom: 0.4em;
  font-weight: light;
  text-decoration: none;
}

.card-footer {
  text-align: center;
  font-size: 0.8em;
  gap: 0.5em;
}

.card-footer > button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 0.5em;
}

.menu button {
  padding: 0.3em 0.5em;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
