* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-width: 600px;
}

body {
  background: #f7f5f0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial;
  color: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Courier New', monospace;
  letter-spacing: 0.4px;
}

.content {
  display: grid;
  grid-template-columns: [items] 9fr [cart] 1fr;
  gap: 3rem;
  width: 100%;
  height: 100%;

  #product-list {
    grid-area: items;
    align-content: space-between;
    flex: 1;
  }

  #item-cart {
    grid-area: cart;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
}
